@media screen and (max-width : 950px){
    
  .gameText{
      margin-top: 34px;
  }
  
  .container { 
      grid-template-rows: repeat(3, 20vw);
      grid-template-columns: repeat(3, 20vw);
      
  }
  .GameContainer{
      flex-wrap: wrap;
  }
  .headTxt{
      margin-top: 20px;
      font-size: 25px;
  }
}
